main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px;
    padding: 70px;
    margin: auto; /* Centrar el main */
}

.imagen {
    display: block; 
    flex-direction: column; 
    align-items: center; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.592);
    border-radius: 20px; /* Bordes redondeados */   
}

.imagen img {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 15px; 
}
.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.areastxt {
    font-size: 25px;
    color: #ffffff;
}

.Tienda .imagen {
    transition: transform 0.3s ease;
}

.Tienda .imagen.Politica:hover {
    transform: scale(1.15); 
}

.Tienda .imagen.Matematicas:hover {
    transform: scale(1.15); 
}

.Tienda .imagen.Arte:hover {
    transform: scale(1.15); 
}

.Tienda .imagen.Quimica:hover {
    transform: scale(1.15); 
}

.Tienda .imagen.Religion:hover {
    transform: scale(1.15); 
}

.Tienda .imagen.Lectura:hover {
    transform: scale(1.15); 
}

.Tienda .imagen.Etica:hover {
    transform: scale(1.15); 
}

.Tienda .imagen.Informatica:hover {
    transform: scale(1.15); 
}
