nav {
    background-color: #1A1A1D; /* Color de fondo de la barra */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    margin-top: 0px; /* Desplazar la barra hacia abajo */
    border-radius: 15px;
    box-shadow: 0 40px 100px rgba(255, 251, 0, 0.118);
    border-bottom: 3px solid #D4AF37;
}

nav a {
    color: rgb(255, 255, 255); /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    margin: 0 30px; /* Espaciado entre enlaces */
    font-size: 30px; /* Tamaño de fuente */
    display: inline-block; /* Permite aplicar padding */
    padding: 10px; /* Espacio adicional para el área clickeable */
}

/* Estilos para el hover en los enlaces */
nav a:hover {
    transform: scale(1.1);
    color: #545454; /* Cambia el color al pasar el cursor */
    transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.search-container {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.search-border {
    display: flex;
    align-items: center;
    padding: 1px; /* Espaciado interno */
}

.search-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 5px;
}

.search-input {
    width: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    border: none; /* Sin borde en el input */
    outline: none;
    font-size: 25px;
    background-color: transparent; /* Fondo transparente para el input */
    transition: width 0.4s ease, opacity 0.4s ease, visibility 0.4s;
}

/* Animación para desplegar la barra de búsqueda al hacer hover en el icono */
.search-container:hover .search-input {
    width: 200px; /* Ancho desplegado */
    padding: 5px;
    opacity: 1;
    visibility: visible;
}